.main-container
{
    margin: 0 auto;
    width:1300px;
    min-width:1200px;
    min-height: 78vh;
}

.container {
    margin: 0 auto;
    width:1200px;
    min-width:1200px
}



.nav-barF {
    margin: 0 auto;
    min-width:600px
}