.main-img { 
    height:250px;
    object-fit: cover;
    margin:0 auto;}

.item-card:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
    }

.container {
    margin: 0 auto;
    width:1200px;
    min-width:1200px
}

.nav-barF {
    margin: 0 auto;
    min-width:600px
}