.main-img { 
    height:600px;
    object-fit: cover;
    margin:0 auto;}

.related-img { 
    height:300px;
    object-fit: cover;
    margin:0 auto;}

.item-card:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
    }