<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https:/cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>{% block title%}{% endblock%}</title>

</head>

<body>
    <nav class=" px-6 py-4 border-b border-gray-200 bg-gray-800  ">
        <div class="  nav-barF flex mx-20 justify-between item-center items-center">
            <a href="/" class=" text-3xl font-bold text-amber-300">SW<span class=" text-2xl text-gray-200">market</span></a>
            <div class="space-x-6">
                <a href="{% url 'new' %}" class="text-lg text-gray-100 font-bold hover:text-amber-300">New Item</a>
                <a href="{% url 'items' %}" class="text-lg text-gray-100 font-bold hover:text-amber-300">Browse </a>
                {% if request.user.is_authenticated %}
                <a href="{% url 'inbox' %}" class="px-5 py-2 text-lg font-bold bg-gray-500 border text-gray-100 rounded-xl hover:border-amber-200 hover:text-amber-300"> Inbox</a>
                <a href="{% url 'dashboard' %}" class="px-5 py-2 text-lg font-bold rounded-xl text-gray-100 border hover:border-amber-200 hover:text-amber-300"> Dashboard</a>
                {% else %}
                <a href="{% url 'signup' %}"
                    class="px-5 py-2 text-lg font-bold bg-gray-500 border text-gray-100 rounded-xl hover:border-amber-200 hover:text-amber-300"> Sign
                    up</a>
                <a href="{% url 'login' %}"
                    class="px-5 py-2 text-lg font-bold rounded-xl text-gray-100 border hover:border-amber-200 hover:text-amber-300"> Login</a>
                   
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="px-6 py-6 bg-gray-50">
        {% block content %}
        {% endblock %}
    </div>

    <footer class="py-6 px-6  bg-gray-800">
        <div class="container flex justify-between ">
            <div class="w-2/3 pr-10">
                <h3 class="mb-5 font-semibold text-gray-400">About</h3>
                <p class="text-lg text-gray-500">We are the leading site for the 
                    private sale of Star Wars themed items. Communication between interested 
                    parties is completely private. We strive to provide the best service to let 
                    Sw fans get the merchandise they really want. </p>
            </div>
            <div class="w-1/3">
                <h3 class="mb-5 font-semibold text-gray-400">Menu</h3>
                <ul>
                    <li> <a href="{% url 'contact'%}" class="test-lg text-teal-500 hover:text-teal-700">Contact</a>
                    </li>
                    <li> <a href="#" class="test-lg text-teal-500 hover:text-teal-700">Privacy</a> </li>
                    <li> <a href="#" class="test-lg text-teal-500 hover:text-teal-700">Terms of use</a> </li>
                </ul>
            </div>

        </div>
    </footer>
</body>

</html>